services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Code711\SolrTools\:
    resource: '../Classes/*'
    exclude:
      - '../Classes/Domain/Model/*'

  Code711\SolrTools\Commands\SolrfilemetaCommand:
    tags:
      - name: 'console.command'
        command: 'solr:tools:filemeta'
        description: 'This tool searches for relations of files in the database and adds the correct site reference in the Files metadata, in order for EXT:solr to index those files correctly'
        schedulable: false

  Code711\SolrTools\Commands\SolrCreateIndexCommand:
    tags:
      - name: 'console.command'
        command: 'solr:tools:createindex'
        description: 'This tool creates (re)index tasks for solr per table and site or all sites'
        schedulable: true

  Code711\SolrTools\Commands\IndexQueueWorkerCommand:
    tags:
      - name: console.command
        command: 'solr:tools:indexqueueworker'
        description: 'Work in the index queue for all sites'
        schedulable: true

  Code711\SolrTools\EventListeners\CreateSolrIndex:
    tags:
      - name: event.listener
        identifier: 'addPersistedObjectToSolr'
        event: TYPO3\CMS\Extbase\Event\Persistence\EntityAddedToPersistenceEvent

  Code711\SolrTools\EventListeners\UpdateSolrIndex:
    tags:
      - name: event.listener
        identifier: 'updatePersistedObjectInSolr'
        event: TYPO3\CMS\Extbase\Event\Persistence\EntityUpdatedInPersistenceEvent

  Code711\SolrTools\EventListeners\AfterItemHasBeenIndexedEventListener:
    tags:
      - name: event.listener
        identifier: 'solrtools:AfterItemHasBeenIndexedEventListener'

  # Dashboard Widget
  dashboard.widget.solrtools.unindexed_items:
    class: 'Code711\SolrTools\Widgets\UnindexedSolrItemsWidget'
    tags:
      - name: dashboard.widget
        identifier: 'solrtools.unindexed_items'
        groupNames: 'systemInfo'
        title: 'LLL:EXT:solr_tools/Resources/Private/Language/locallang.xlf:widgets.unindexedItems.title'
        description: 'LLL:EXT:solr_tools/Resources/Private/Language/locallang.xlf:widgets.unindexedItems.description'
        iconIdentifier: 'content-dashboard'
        height: 'small'
        width: 'small'




